{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<main>

  <div class="hero__media hero__media--template--15712579485877__165834677779c5211c">
    <div class="hero__media-container" ><video
          id="Mp4Video-template--15712579485877__165834677779c5211c"
          class="video-div"
          data-type="mp4"
          src="https://cdn.shopify.com/videos/c/o/v/f06b57a259fe40cd9cbf4c229e89771e.mp4"
          loop muted playsinline autoplay></video></div>
  </div>

  <section class="py-5 text-center container">
    <div class="hero-text">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <br>
                <br>
                <br>
                <h1 class="fw-light text-white bold">-- Portfolio -- </h1>
                <p class="lead text-white">Underneath is a list of projects showcasing work I have completed in my journey to becoming a developer </p>
                <p>
                <a href="" class="btn btn-primary my-2">Instagram</a>
                <a href="https://github.com/AaronOlayvar" target="_blank" class="btn btn-primary my-2">Github</a>
                <a href="https://www.linkedin.com/in/aaron-olayvar-028351147/" target="_blank" class="btn btn-primary my-2">LinkedIn</a>
                </p>
            </div>
        </div>
    </div>
  </section>

  <div class="album py-1 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts.all %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ post.image.url }}"> </img>

            <div class="card-body">
              <p class="card-text">{{ post.title}}: {{ post.bio }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p class= "mb-1"> Updated {{ post.date_created}} </a>
                    <a type="" class="btn btn-sm btn-outline-secondary float-end mb-1">Edit</a>

             
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        
    </div>
  </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Contact me:</p>
      
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
                <li class="nav-link py-2 px-0 px-lg-2"><a href="mailto:trixolayvar@gmail.com">Email</p>
                <li class="nav-link py-2 px-0 px-lg-2"><a href="">CV</p>
            </ul>
         

    </div>
  </footer>


<script src="{% static 'jquery-3.6.2.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}" ></script>
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
      
  </body>
</html>
{% endblock %}
